@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  position: relative;
  min-height: 100vh;
}

input,
button {
  border: none;
  font-family: inherit;
}
